@import 'tailwindcss';
@import '@heroui/styles';

:root,
.light,
.default,
[data-theme='light'],
[data-theme='default'] {
  /* Theme Colors (Light Mode) */
  --accent: oklch(51.48% 0.1489 294.42);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(97.02% 0.007 294.42);
  --border: oklch(90% 0.007 294.42);
  --danger: oklch(65.32% 0.2361 30.61);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(94% 0.007 294.42);
  --default-foreground: oklch(21.03% 0.0059 294.42);
  --field-background: oklch(100% 0.0035 294.42);
  --field-border: transparent;
  --field-foreground: oklch(21.03% 0.007 294.42);
  --field-placeholder: oklch(55.17% 0.014 294.42);
  --focus: oklch(51.48% 0.1489 294.42);
  --foreground: oklch(21.03% 0.007 294.42);
  --muted: oklch(55.17% 0.014 294.42);
  --overlay: oklch(100% 0.0021 294.42);
  --overlay-foreground: oklch(21.03% 0.007 294.42);
  --scrollbar: oklch(87.1% 0.007 294.42);
  --segment: oklch(100% 0.007 294.42);
  --segment-foreground: oklch(21.03% 0.007 294.42);
  --separator: oklch(92% 0.007 294.42);
  --success: oklch(73.29% 0.1962 155.68);
  --success-foreground: oklch(21.03% 0.0059 155.68);
  --surface: oklch(100% 0.0035 294.42);
  --surface-foreground: oklch(21.03% 0.007 294.42);
  --surface-secondary: oklch(95.24% 0.0056 294.42);
  --surface-secondary-foreground: oklch(21.03% 0.007 294.42);
  --surface-tertiary: oklch(93.73% 0.0056 294.42);
  --surface-tertiary-foreground: oklch(21.03% 0.007 294.42);
  --warning: oklch(78.19% 0.1607 77.2);
  --warning-foreground: oklch(21.03% 0.0059 77.2);

  /* Border Radius */
  --radius: 0.5rem;
  --field-radius: 0.75rem;

  --font-sans: 'Inter', 'Inter Fallback', ui-sans-serif, system-ui, sans-serif;
}

.dark,
[data-theme='dark'] {
  color-scheme: dark;
  /* Theme Colors (Dark Mode) */
  --accent: oklch(51.48% 0.1489 294.42);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(12% 0.007 294.42);
  --border: oklch(28% 0.007 294.42);
  --danger: oklch(59.4% 0.1995 29.5);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(27.4% 0.007 294.42);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0.014 294.42);
  --field-border: transparent;
  --field-foreground: oklch(99.11% 0.007 294.42);
  --field-placeholder: oklch(70.5% 0.014 294.42);
  --focus: oklch(51.48% 0.1489 294.42);
  --foreground: oklch(99.11% 0.007 294.42);
  --muted: oklch(70.5% 0.014 294.42);
  --overlay: oklch(21.03% 0.014 294.42);
  --overlay-foreground: oklch(99.11% 0.007 294.42);
  --scrollbar: oklch(70.5% 0.007 294.42);
  --segment: oklch(39.64% 0.007 294.42);
  --segment-foreground: oklch(99.11% 0.007 294.42);
  --separator: oklch(25% 0.007 294.42);
  --success: oklch(73.29% 0.1962 155.68);
  --success-foreground: oklch(21.03% 0.0059 155.68);
  --surface: oklch(21.03% 0.014 294.42);
  --surface-foreground: oklch(99.11% 0.007 294.42);
  --surface-secondary: oklch(25.7% 0.0105 294.42);
  --surface-secondary-foreground: oklch(99.11% 0.007 294.42);
  --surface-tertiary: oklch(27.21% 0.0105 294.42);
  --surface-tertiary-foreground: oklch(99.11% 0.007 294.42);
  --warning: oklch(82.03% 0.1407 81.21);
  --warning-foreground: oklch(21.03% 0.0059 81.21);
}

::view-transition-group(.tile),
::view-transition-old(.tile),
::view-transition-new(.tile) {
  animation-duration: 80ms;
}

#root {
  display: grid;
  place-items: center;
  height: 100vh;
}
